@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <p>This is a New Learning</p>
    <p>ASP .NET</p>

    <p>@ViewData["Message"]</p>

</div>