@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    Name: <input name="Name" placeholder="Enter Your Name" /> <br /> <br />
    Email: <input name="Email" placeholder="Enter Your Email" /> <br /> <br />
    Password: <input name="Password" type="password" placeholder="Enter a Password" /> <br /> <br />
    <button type="submit">Register</button>
</form>