@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    Email: <input name="email" placeholder="Enter Your Email" /> <br /> <br />
    Password: <input name="password" type="password" placeholder="Enter Your Password" /> <br /> <br />

    <button type="submit">Login</button>
</form>